<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Space</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Welcome, <span th:text="${student.first_name}"></span> <span th:text="${student.last_name}"></span>!</h2>
    <h3>Your Program: <span th:text="${student.program.program_name}"></span></h3>
    <h3>Enrolled Courses:</h3>
    <ul>
        <li th:each="course : ${student.courses}" th:text="${course.course_name}"></li>
    </ul>
</div>
</body>
</html>
